@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;600&family=Sarabun:wght@100;400;600&display=swap');

html {
    background-color: rgb(249, 249, 249);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
    font-family: 'Sarabun', sans-serif;
}

/* nav */
nav {
    display: flex;
    justify-content: center;
    gap: 120px;
    padding: 10px;
    border-bottom: 0.5px solid gainsboro;
}
.nav-center {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.nav-right {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.cart {
    position: relative;
}
.n1 {
    position: absolute;
    font-size: 7px;
    background-color: crimson;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    text-align: center;
    color: white;
    top: -2px;
    left: 12px;
}
/* main */
h1 {
    margin-left: 14%;
}
main {
    display: flex;
    margin-left: 10%;
    /* justify-content: center; */
}
.item {
    background-color: white;
    width: 300px;
    border-radius: 8px;
    margin: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
}
.item-icon {
    border: 2px solid aquamarine;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
}
.item-pic {
    width: 100px;
    height: 100px;
    padding: 10px;
    background-color: cornflowerblue;
    border-radius: 8px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-size: cover;
}
.item-pic i {
    background-color: white;
    border-radius: 3px;
    padding: 4px;
    font-size: 10px;
}
.item-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.item-content form {
    display: flex;
    gap: 10px;
}
.item-content label {
    display: flex;
    align-items: center;
    gap: 4px;
}
.item-content label > * {
    background-color: aquamarine;
    border-radius: 50%;
    height: 14px;
    width: 14px;
}
.item-content #lv {
    border: 1.5px solid aquamarine;
    padding: 2px;
}
.order {
    background-color: white;
    width: 300px;
    height: 225px;
    border-radius: 8px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}
.subtotal {
    display: flex;
    justify-content: space-between;
}
.code form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}
.code input[type="text"] {
    padding: 4px 35px 4px 4px;
}
.code input[type="submit"] {
    padding: 6px 20px;
    border: 2px solid aquamarine;
    background-color: white;
    color: aquamarine;
}
.total {
    display: flex;
    justify-content: space-between;
}
.line {
    border: 0.5px solid gainsboro;
}
button {
    background-color: aquamarine;
    border: none;
    border-radius: 8px;
    padding: 6px;
}